.git
.github
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.env
.venv
*.log
itest
tests
.pytest_cache
.coverage
htmlcov
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
README.md
LICENSE
docker-compose.yml
Dockerfile
build.sh
